*{
    margin: 0;
    padding: 0;
}

.right-menu li{
    display: inline-block;
    margin-top: 30px !important;
}

.right-menu li .fa{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-brand img{
    width: 50px;
}

.navbar-brand{
    left: 50%;
    top: 25px;
    transform: translate(-50%);
    position: absolute;
}

.header{
    background: #f5f6fc;
}

.navbar{
    padding: 0 35px !important;
}

.navbar-toggler{
    border: none !important;
    outline:  none !important;
    padding: 0 !important;
    margin-top: 30px;
}

.navbar-toggler .a{
    font-size: 30px;
    cursor: pointer;
}

.banner-img{
    margin: 80px 115px;
    width: 60%;
}

.banner-img img{
    width: 100%;
    margin-bottom: -80px;
}

.banner{
    position: relative;
}

.banner-title{
    position: absolute;
    left:65%;
    top:25%
}

.banner-title h1{
    font-size: 1.25rem;
    font-weight: 300;
    background-color:rgb(4, 74, 155);
    color: #fff;
    line-height: 30px;
    padding: 0px 10px 0 10px;
}

/*About Us*/

.about-us{
    padding: 40px 0;
}

.aboutus-box{
    margin: 80px 0;
}

.title-style h1{
    padding: 25px 0;
}

.title-style{
    margin: 0 auto 80px;
    height: 80px;
    width: 60%;
    max-width: 700px;
    background: white;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5)
}

.title-style::after{
    content: '';
    height:60px;
    width:200px;
    background-color: rgb(4, 74, 155);
    position: absolute;
    top:-10px;
    left:-10px;
    z-index: -1;
}

.title-style::before{
    content: '';
    height:60px;
    width:200px;
    background-color: rgb(0, 170, 37);
    position: absolute;
    bottom:-10px;
    right:-10px;
    z-index: -1;
}

.vl {
    border-left: 2px solid rgba(166, 166, 167, 0.26);
    padding-right: 20px;
  }

  #map{
      height:500px;
      width:75%
  }